!!! Strict 
%html 
  %head 
    %meta{'http-equiv' => 'Content-Type', :content => 'text/html;charset=utf-8'} 
    %title= release.name
    %style{:type => "text/css", :media => "screen"}
      :plain
        p,div,h1,h2,h3,h4,h5,h6,span,a {font-family: Arial}
        div#release_doc {padding-left: .5em;}
        h2, h3 {padding: .5em 0;}
        h3 {text-decoration: underline;}
        div#release_doc {
          width: 80%;
          margin-left: auto;
          margin-right: auto;
          text-align: left;
        }
        div#chores, div#bugs, div#stories{ padding-left: 0.6em }
        div.item {padding-left: .4em}
        div.item_info {padding-left: .4em}
  %body
    #release_doc
      #release_info
        %h2= "Announcing the \"#{release.name}\" release for the #{release.project_name} project"
        %p
          = "This sprint began on #{release.iteration.start.fancy_format} and was completed on #{release.iteration.finish.fancy_format}.  It includes #{release.stories_delivered} new stories, #{release.bugs_delivered} bug fixes, and #{release.chores_delivered} miscellaneous chores."
      #stories
        %h3 Accepted Stories
        - release.stories.each do |story|
          .item
            %h4= "Story ##{story.id} - #{story.name}"
            .item_info
              %p= "Requestor: #{story.requested_by}" 
              %p= "Completed By: #{story.owned_by}"
              %p= "Description: #{story.description}"
      #bugs
        %h3 Bug Fixes
        - release.bugs.each do |bug|
          .item
            %h4= "Bug ##{bug.id} - #{bug.name}"
            .item_info
              %p= "Requestor: #{bug.requested_by}" 
              %p= "Completed By: #{bug.owned_by}"
              %p= "Description: #{bug.description}" 
      #chores    
        %h3 Miscellaneous Chores
        - release.chores.each do |chore|
          .item
            %h4= "Chore ##{chore.id} - #{chore.name}"
            .item_info
              %p= "Requestor: #{chore.requested_by}" 
              %p= "Completed By: #{chore.owned_by}"
              %p= "Description: #{chore.description}" 
